Source: qr-greeter
Section: misc
Priority: optional
Maintainer: Ali Riza KESKIN <aliriza.keskin@pardus.org.tr>
Build-Depends: debhelper (>= 10), make
Standards-Version: 4.3.0
Homepage: https://www.pardus.org.tr

Package: lightdm-pardus-greeter
Architecture: amd64
Depends: ${misc:Depends},
         ${python3:Depends},
         gir1.2-gtk-3.0,
         gir1.2-lightdm-1,

Description: QR Greeter
 QR greeter for lightdm login screen
